// Place all the styles related to the Bells controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$--color-primary: rgb(212, 181, 5);
$--color-text-primary: rgb(227, 230, 200);
$--color-text-regular: rgb(185, 150, 110);
$--color-white: #303030;
$--color-black: #FFFFFF;
$--background-color-base: #404040;

$--border-color-base: #505050;
$--border-color-light: #555555;
$--border-color-lighter: #606060;
$--border-color-extra-light: #656565;

$--font-path: 'element-ui/lib/theme-chalk/fonts';

@import 'element-ui/packages/theme-chalk/src';


@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap');

* {
  font-family: 'Noto Serif JP', 'Yu Mincho', 'YuMincho', 'Hiragino Mincho ProN', self;
}

[v-cloak] {
  display: none;
}

html, body, #app-show, #app-container {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  height: 100%;
}

img.separator {
  width: 100%;
  filter: invert(50%);
}

#app-container {
  width: 100%;
}

#app-header {
  background-color: $--background-color-base;
}

.el-header el-row, .el-header .el-col {
  height: 60px;
}
.el-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

#app-show .subtitle {
  font-size: x-small;
}

#app-main {
  height: calc(100vh - 100px - 100px);
}

#app-footer {
  height: 70px;
  white-space: nowrap;
  overflow-x: auto;
}

#chat-viewer {
  max-width: 640px;
}

img.stamp {
  height: 100px;
  max-width: 100%;
}

.chat-legend-container {
  user-select: none;
}

.chat-legend-container .el-button+.el-button {
  margin-left: 2px;
}
.chat-legend-container .stamp-legend {
  margin: 2px;
  padding: 0px;
  height: 64px;
  width: 64px;
}
.stamp-legend img {
  height: 100%;
  width: 100%;
}

button.chat-input-type {
  margin: 2px;
  padding: 2px;
  height: 64px;
  width: 64px;

  white-space: normal;
  vertical-align: bottom;
}

.chat-legend-container .text-legend, .chat-input-type {
  margin: 2px;
  padding: 2px;
  height: 64px;
  width: 64px;

  white-space: normal;
  vertical-align: bottom;
}

.message-container {
  margin-bottom: 15px;
  height: auto;
}
.message-container span {
  max-width: calc(100% - 4ch);
}
.message-user {
  margin-left: 8px;
  display: block;
  font-size: small;
  font-weight: bold;
}
.message-text {
  display: inline-block;
  background-color: $--background-color-base;
  border-radius: 20px;
  padding: 10px;
  vertical-align: bottom;
}
.message-time {
  vertical-align: bottom;
  color: slategray;
  font-size: small;
}

.message-own {
  text-align: right;
}
.message-own .message-user {
  margin-left: auto;
  margin-right: 8px;
}
.message-own .message-text {
  background-color: #603030;
}


.message-list-enter-active, .message-list-leave-active {
  transition: all 1s;
}
.message-list-enter, .message-list-leave-to {
  opacity: 0;
}
.message-list-move {
  transition: transform 0.5s;
}

.config-dialog {
  text-align: initial;
  line-height: initial;
}
// Element UI dialogがモバイルで見ると幅が小さすぎる
.el-dialog {
  min-width: fit-content;
}
// Element UI confirmがモバイルで見ると幅がでかすぎる
.el-message-box {
  max-width: fit-content;
}

body {
  background-color: $--color-white;
  color: $--color-text-primary;
}
// new
#app-new {
  margin: 0 auto;
  max-width: 640px;

  background-color: $--background-color-base;
}

#app-new .title, #app-new .subtitle {
  text-align: center;
  color: $--color-text-regular;
}
#app-new .title {
  margin-top: 10px;
  font-size: xx-large;
}

#app-new .el-container {
  margin-top: 1em;
  margin-bottom: 1em;
  border: 3px double $--border-color-base;
}

.site-info {
  margin-top: 20px;
  margin-bottom: 20px;
}
.site-info p {
  margin: 3px;
}

.now-bell {
  padding: 10px;
  border-top: $--border-color-base solid 1px;
}
.now-bell div {
}
.now-bell-place {
  font-weight: bold;
  display: inline-block;
  width: fit-content;
}
.now-bell-note {
}
.now-bell-note pre{
  white-space: pre-wrap;
}
.now-bell-link {
  display: inline-block;
  width: fit-content;
  float: right;
}
.now-bell-link a {
  margin-left: 5px;
}
.now-bell-time {
  width: fit-content;
  margin-right: 0;
  margin-left: auto;

  font-size: x-small;
  color: lightslategray;
}

.el-form-item .hint {
  margin: 0;
  line-height: initial;
  font-size: small;
}


a:link { color: gray;}
a:visited { color: gray;}
a:hover, a:active { color: darkred}


#copyright {
  font-size: small;
  margin: 1em;
  float: right;
  color: #808080;
}
#copyright img {
  height: 1em;
  margin-left: 0.5em;
  filter: invert(50%);
}
