<!DOCTYPE html>
html
  head
    meta http-equiv="refresh" content="1;URL=/"
    sass:
      body, a
        color: rgb(227, 230, 200)
        background-color: #303030
  body
    div ページが見つかりません。
    div
      = link_to 'TOPに移動', '/'
      | します。
