<!DOCTYPE html>
html
  head
    sass:
      body, a
        color: rgb(227, 230, 200)
        background-color: #303030
  body
    | 500 Internal Server Error.
    = link_to 'Return to TOP', '/'
