// Place all the styles related to the Bells controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

img.stamp {
  height: 100px;
}

img.stamp-legend {
  height: 64px;
  width: 64px;
  border: solid;
  border-width: 1px;
}


div.text-legend {
  display: inline-block;
  vertical-align: bottom;
  height: 32px;
  width: 128px;
  border: solid;
  border-width: 1px;

  font-size: small;
}

.message-list-item {
  display: inline-block;
  margin-right: 10px;
}
.message-list-enter-active, .message-list-leave-active {
  transition: all 1s;
}
.message-list-enter, .message-list-leave-to {
  opacity: 0;
}
.message-list-move {
  transition: transform 1s;
}
