<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-70136603-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-70136603-3');
    </script>

    <title>狩人呼びの鐘Web The Old Hunters</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <script data-ad-client="ca-pub-8284783845808742" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
